* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* banner */
.header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    padding: 216px 230px 364px 845px;
    text-align: right;
    background-size: contain;
}

.banner-title {
    font-weight: 700;
    font-size: 35px;
    color: #151414;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 25px 0;
}

.banner-button {
    background: #F15B22;
    border-radius: 5px;
    width: 120px;
    height: 45px;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
}

/* My failures of previous year */
.failures {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.failure-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
    color: #151414;
}

.failure-sub-title {
    font-weight: 700;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 20px;
    margin-bottom: 20px;
}

.failure-list {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style-type: '✔️';
}

/* my plans */
.my-plans {
    text-align: center;
    margin: 100px 100px;
    padding: auto 150px;
}

.my-plans-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.plans-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* Always keep a positive mindset*/
.mindset {
    background-image: url('../images/watch.png'), url(../images/gradient2.png);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center center;
    padding: 130px 400px;
    border-radius: 10px;
}

.positive-mindset {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.mindset-button {
    background: #FFFFFF;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 15px;
    color: #F15B22;
    border: 0px solid #F15B22;
}

/* footer */
.contract {
    display: flex;
    gap: 300px;
    justify-content: space-between;
    background: #151414;
    padding: 130px 200px;
    color: #F8F8F8;
}

.contract-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.contract-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    width: 300px;
}

.contract a {
    text-decoration: none;
}

.contract-subscribe {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    height: 40px;
}

.contract input {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    background: #151414;
    color: #F3F3F3;
    height: 40px;
    width: 80%;
}

.subscribe-button {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 8px;
    width: 120px;
    height: 50px;
}

/* free-trial */
.free-trial {
    text-align: center;
}
.free-intro {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
}
.free-title {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
    margin-left: 400px;
    margin-right: 400px;
}
.field {
    width: 30%;
    margin: 0 auto;
    text-align: left;
    padding: auto auto;
    margin-bottom: 50px;
}
.field-intro {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.field input {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
    border: 1px solid red;
}

.field button {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
    border: 1px solid #18A0FB;
}

.btn-last {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: #18A0FB;
    border-radius: 5px;
}
